
.DS_Store
~$ure_notebooks_setup.docx
.DS_Store
HomeWork/.DS_Store
HomeWork/HW1/.ipynb_checkpoints/HW1-checkpoint.ipynb
recitations/.DS_Store
recitations/.ipynb_checkpoints/recitation_1_python_refresher-checkpoint.ipynb
